body {
    overflow-x: hidden;
}

li {
    font-weight: bold;
}

.carouselimage {
    height: 500px;
}

ul {

    margin-left: 462px;
}

.menu-item {
    color: rgb(51, 16, 84);
}

#viewBtn {

    width: 20%;
    color: white;
    font-weight: bold;
    border: #5e068a;
    background-color: #5e068a;
    border-radius: 28px;
    padding: 2%;
}

#viewBtn:hover {
    background-color: #cb8de8ad;
    color: white;
}

#contactUsModal input,
select {
    background: transparent;
    border-bottom: 1px solid #70707038;
    padding-left: 5px;
    font-size: 14px;
    width: 100%;
    box-shadow: none;
    border-radius: 0;
    border-width: 0 0 1px;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

#submitBtn {
    WIDTH: 30%;
    border: none;
    background-color: #5e068a;
    color: #fff;
    font-weight: 500;
    padding: 15px 0;
    line-height: 2px;
    box-shadow: none;

}

@media screen and (max-width: 800px) {
    
    #viewBtn {
        font-size: x-small;
        width: 25% !important;
    }
    #learnMoreBtn {
        font-size: x-small;
        width: 25% !important;
    }

}
@media screen and (max-width: 900px) {
     
    #courseBtn {
        font-size: x-small;
        width: 40% !important;
    }

}

#inputtxtArea {
    padding: 23px 0;
    padding-bottom: 65px;
}


#learnMoreBtn {
    width: 20%;
    color: white;
    font-weight: bold;
    border: #5e068a;
    background-color: #5e068a;
    border-radius: 24px;
    padding: 2%;

}

.cardDiv:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-image {
    width: 100%;
}

.cardDiv h5,
p {
    padding: 6px 25px 20px;
}

.cardDiv h5 {
    color: #5e068a;
}

#viewMoreBtn {
    width: 30%;
    color: white;
    border: #5e068a;
    background-color: #5e068a;
    border-radius: 0;
    margin-left: 30px;
    margin-bottom: 20px;
    padding: 8px;
}

#courseBtn {
    padding: 10px;
    width: 14%;
    color: #5e068a;
    border-radius: 23px;
    margin-bottom: 23px;

}